<!-- page1.hbs -->
<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
    </div>
    <div>
      {{>footer}}
    </div>
</body>
</html>
